<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

	<!-- Website CSS style -->
	<link rel="stylesheet" type="text/css" href="../css/register.css">

	<!-- Website Font style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<title>LogIn</title>
</head>
<body>
<div class="container" style="width: 30%;">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h1 class="title" style="font-family: 'Oxygen', sans-serif;">Login</h1>
				<hr />
			</div>
		</div>
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" ng-submit="main.doLogin(loginData);">

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Georgia Tech Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email"  ng-model="main.loginData.email" placeholder="Enter your Email"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password"  ng-model="main.loginData.password" placeholder="Enter your Password"/>
						</div>
					</div>
				</div>
				<br>
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block login-button" style="background-color: #18BC9C !important; border-radius: 50px !important;">Login</button>
					<a href="/#/register" type="submit" class="btn btn-primary btn-lg btn-block login-button" style="background-color: #18BC9C !important; border-radius: 50px !important; border: none;">Register</a>

				</div>
			</form>
		</div>
		<div class="row show-hide-message" ng-show="main.successMsg">
			<div class="alert alert-success">{{ main.successMsg }}</div>
		</div>

		<div class="row show-hide-message" ng-show="main.errorMsg">
			<div class="alert alert-danger">{{ main.errorMsg }}</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>


