<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Login for CAMPUS BUY</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>GT Email</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
    </p>
    <p>
      <label>Password</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.password"> 
    </p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>