<!-- <meta http-equiv="refresh" content="5"> -->
<!-- <script type="text/javascript">
// $(document).ready(function(){

//   //Check if the current URL contains '#' 
//   if(document.URL.indexOf("#")==-1) {
//     // Set the URL to whatever it was plus "#".
//     url = document.URL+"#";
//     location = "#";

//     //Reload the page
//     location.reload(true);
//   }
// });
  window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script> -->
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <style>
      span[ng-click] {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- <input id="UserID" ng-model="search.id" ng-init="search.id=userId" type="hidden" /> -->
    <div class="container" >
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title" style="font-family: 'Oxygen', sans-serif;">My Market</h1>
        <hr style="width: 10%">
      </div>
    </div>
    <table id="cart" class="table table-hover table-condensed">
      <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Remove</th>
      </tr>
      </thead>
      <tbody style="width: 100%">
      <tr data-ng-repeat="product in products | filter:search:strict" ng-if="main.email == product.userEmail">
        <td data-th="Product">
          <!-- <div ng-show="main.email == product.userEmail"> -->
            <div class="row">
              
                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin" ng-click="itemDescription(product._id)"> {{ product.itemName }} </h4>
                  <!-- <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p> -->
                  <p>
                    {{product.itemDescription}}
                  </p>
                </div>
            </div>
          <!-- </div> -->
        </td>

        <td>
          <!-- <div ng-show="main.email == product.userEmail"> -->
            <span ng-click="deleteProduct(product._id)" class="fa fa-trash"></span>
          <!-- </div> -->
        </td>
        <!-- <td>
          <div ng-app="productsApp" ng-controller="ProductsListController">
            <span ng-click="deleteProduct(product._id)" class="fa fa-trash"></span>
          </div>
        </td> -->
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td><a href="/#/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
      </tr>
      </tfoot>
    </table>
  </div>
  </body>
</html>




