<div class="page-header">
	<h1>{{ main.firstName }}'s Profile</h1>
</div>

<div class="panel panel-info">
	<div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

	<table class="table">
		<tr>
			<td><strong>Firstname</strong></td>
			<td><strong>Lastname</strong></td>
			<td><strong>Email</strong></td>
			<td><strong>Phone</strong></td>
		</tr>
		<tr>
			<td>{{ main.firstName }}</td>
			<td>{{ main.lastName }}</td>
			<td>{{ main.email }}</td>
			<td>{{ main.phone }}</td>
		</tr>
	</table>
</div>