<div class="row" ng-hide="product._id">
  <div class="col-md-6">
      <h2>Post item to sell!</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Product Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.item" required> 
    </p>
    <p>
      <label>Type (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.type" required> 
    </p>
    <p>
      <label>Price (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="product.price" required> 
    </p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveProduct(product)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>