<head>
  <link href="../css/buy_item.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    a {
      color: black;
    }
    .nav-a {
      color: white;
    }
  </style>
</head>
<div id="wrapper" style="margin-top:1%;">
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" >
      <ul class="nav navbar-nav side-nav"  style="top: 9% !important; background-color: #2C3E50">
        <li>
          <a class="nav-a" href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-star"></i> Seller Rating <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#"><i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color:white"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-a" href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-usd"></i> Price <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo1" class="collapse" >
            <li>
              <a href="#">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" style="width:50%;">
                </div>
              </a>
              <span style="color:white; margin-left:35%;">to</span>
              <a href="#">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" style="width:50%">
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-a" href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-heart"></i> Condition <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo2" class="collapse" >
            <li>
              <input type="checkbox" ng-click="includeColour('Brand New')"><div class="condition_label">Brand New</div><br>
              <input type="checkbox" ng-click="includeColour('Like New')"><div class="condition_label">Like New</div><br>
              <input type="checkbox" ng-click="includeColour('Gently Used')"><div class="condition_label">Gently Used</div><br>
              <input type="checkbox" ng-click="includeColour('Heavily Used')"><div class="condition_label">Heavily Used</div><br>
              <input type="checkbox" ng-click="includeColour('Bad')"><div class="condition_label">Bad</div><br>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-a" href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-money"></i> Method of Payment <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo3" class="collapse" >
            <li>
              <a href="#"><label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Cash</span>
              </label></a>
              <a href="#"><label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Venmo</span>
              </label>
              </a>
              <a href="#"><label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">PayPal</span>
              </label>
              </a>
              <a href="#"><label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">ApplePay</span>
              </label>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <div id="page-wrapper" style="color: black !important;">
    <div class="container-fluid">
      <!-- Page Content -->
      <div class="container">
        <div class="container">
          <table class="table table-hover">
            <tbody>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Condition</th>
                  <th>Add to Cart</th>
                </tr>
              </thead>
              <tr data-ng-repeat="product in products | filter:colourFilter" ng-click="itemDescription(product._id)" style="color: black !important;">
                <td>
                  <a ng-href="#/products">{{ product.itemName }}</a>
                </td>
                <td>
                  {{product.itemPrice}}
                </td>
                <td>
                  {{product.itemCondition}}
                </td>
                <td>
                  <div ng-app="cartApp" ng-controller="EditCartController">
                    <a ng-click="saveToCart(product)">
                      <i class="fa fa-cart-plus" style="font-size: 2em; color: #18BC9C;" aria-hidden="true"></i>

                    </a>
                  </div> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <!-- Pagination -->
      <div class="row text-center">
          <div class="col-lg-12">
            <ul class="pagination">
              <li>
                <a href="#">&laquo;</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
      <hr>
        <!-- Footer -->
      <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; CampusBuy 2016 Team Tabs, 192</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>


