<link href="../css/profile.css" rel="stylesheet">
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

<div class="container">
    <div class="user-menu-container square">
        <div class="col-md-12 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3>Hey there! I'm {{ userFirst }} {{userLast}}</h3>
                        <a class="white" href="mailto:{{userEmail}}" style="text-transform: uppercase; font-size: 1.1em"><i class="fa fa-envelope-o"></i> {{ userEmail }}</a>
                        <h4 class="white"><i class="fa fa-phone" aria-hidden="true"></i> {{ userPhone }}</h4>
                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                        <img src="https://fast-company-res.cloudinary.com/image/upload/fc/3022472-poster-p-1-portrait-photographer-peter-hurley-on-the-squinch-your-jawline-and-other-tricks.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWERS</h3>
                    <h4>2,784</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWING</h3>
                    <h4>456</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>APPRECIATIONS</h3>
                    <h4>4,901</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var $btnSets = $('#responsive'),
                $btnLinks = $btnSets.find('a');

        $btnLinks.click(function(e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.user-menu>div.user-menu-content").removeClass("active");
            $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
        });
    });
</script>