body {
    font-family: Oxygen;
}
.itemImage {
    display: inline-block;
    width: 50%;
}

.itemInformation {
    display: inline-block;
    margin-left: 5%;
    width: 40%;
}

.itemName {
    font-size: 4em;
}

.itemCondition {
}

.itemPrice {
}

.itemDescription {
    margin-top: 10%;
}

.fa {
    margin-right: 5%;
    font-size: 2em;
}